@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a esta aplicación integrada a Azure</h1>
    <p>Sobre nosotros <a href="www.mmaompe.org">Aplicación para lal Fundación MMAOMPE</a>.</p>
</div>
